<div class="header container">
  <a href="/">
    <img src="../../assets/images/logo.png" alt="dreamFit" width="100" height="73" />
  </a>
  <div class="header__menu">
    <a href="/">Home</a>
    <a href="/">About</a>
    <a href="/">Blog</a>
  </div>
  <div class="header__btn">More About Us</div>
</div>

<div class="topBanner">
  <div class="topBanner__cont container">
    <img
      src="../../assets/images/running.svg"
      alt="run"
      width="336"
      height="380"
      class="topBanner__cont__run"
    />
    <img
      src="../../assets/images/straberry.svg"
      alt="strawberry"
      width="40"
      height="48"
      class="topBanner__cont__straberry"
    />
    <!-- <img src="" alt="weight" />
    <img src="" alt="lemon" /> -->
    <div class="topBanner__cont__left">
      <img
        src="../../assets/images/veggie.svg"
        alt="veggie"
        width="83"
        height="100"
        class="topBanner__cont__left__veggie"
      />
      <h2 class="font-primary">Nourish Body <br />Live Health</h2>
      <p>Today</p>
      <a>Get Started</a>
    </div>
    <div class="topBanner__cont__right">
      <!-- <img src="" alt="leave" /> -->
      <div class="topBanner__cont__right__text">
        <!-- <img src="" alt="egg" /> -->
        <div class="topBanner__cont__right__text__top">
          <p></p>
        </div>
        <div class="topBanner__cont__right__text__quote">
          <!-- <img src="" alt="quote" /> -->
          <p>試過不同減肥方法導致甩頭髮，平台期，瘦胸不瘦人，皮膚問題，捱肚餓堅持唔到？</p>
        </div>
      </div>
      <!-- <img src="" alt="banner" /> -->
    </div>
  </div>
</div>
