.header {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-between;
  padding-block: 12px;
  &__menu {
    display: grid;
    grid-auto-flow: column;
    gap: 32px;
    a {
      color: #0abab5;
      font-size: 18px;
      font-family: Times New Roman;
      font-weight: 400;
    }
  }
  &__btn {
    width: 110px;
    height: 34px;
    border-radius: 4px;
    background: #0abab5;
    color: #fff;
    font-size: 12px;
    display: grid;
    place-content: center;
    place-items: center;
  }
}
.topBanner {
  background-image: url('../../assets/images/background-img.png');
  // background: linear-gradient(244deg, #fffaca 20.44%, rgba(255, 250, 202, 0) 92.19%);
  &__cont {
    position: relative;
    padding-block: 80px;
    display: grid;
    grid-auto-flow: column;
    // justify-content: space-between;
    &__logo {
      background: white;
    }
  }
}

.middleBanner {
  background-image: url('../../assets/images/vegetable.png');
  background-size: cover;
  background-position: center left;
  &__cont {
    position: relative;
    padding-block: 80px;
    display: grid;
    grid-auto-flow: row;
    justify-content: flex-end;
    gap: 12px;
    h4 {
      color: #1c97a2;
      font-size: 38px;
      font-style: italic;
      font-weight: 400;
    }
    p {
      color: #1c97a2;
      font-size: 18px;
      font-weight: 400;
    }
    &__btn {
      width: 110px;
      height: 34px;
      border-radius: 4px;
      background: #0abab5;
      color: #fff;
      font-size: 12px;
      display: grid;
      place-content: center;
      place-items: center;
    }
  }
}

.submiddleBanner {
  background: linear-gradient(244deg, #fffaca 20.44%, rgba(255, 250, 202, 0) 92.19%);
  &__cont {
    position: relative;
    padding-block: 80px;
    display: grid;
    grid-auto-flow: column;
    justify-content: flex-start;
    gap: 64px;
    &__left {
      display: grid;
      grid-auto-flow: row;
      gap: 64px;
      &__text {
        color: black;
        font-size: 32px;
        font-weight: 400;
      }
      h4 {
        color: black;
        font-size: 38px;
        font-weight: 700;
        p {
          color: black;
          font-size: 22px;
          font-weight: 700;
        }
      }
      p {
        color: black;
        font-size: 22px;
        font-weight: 400;
      }
    }
    &__right {
      color: #d9d9d9;
    }
  }
}

.bottomBanner {
  background-image: url('../../assets/images/sky.png');
  background-size: cover;
  background-position: center left;
  &__cont {
    position: relative;
    padding-block: 80px;
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    &__center {
      display: grid;
      gap: 12px;
      h4 {
        color: #1c97a2;
        font-size: 38px;
        font-style: italic;
        font-weight: 400;
        text-align: center;
      }
      p {
        color: black;
        font-size: 18px;
        font-weight: 400;
        text-align: center;
      }
    }
  }
}

.bottomSUbBanner {
  background: linear-gradient(244deg, #fffaca 20.44%, rgba(255, 250, 202, 0) 92.19%);
  &__cont {
    osition: relative;
    padding-block: 80px;
    display: grid;
    grid-auto-flow: column;
    justify-content: flex-end;
  }
}
