<div class="header container">
  <a href="/">
    <img src="../../assets/images/logo.png" alt="dreamFit" width="100" height="73" />
  </a>
  <div class="header__menu">
    <a href="/">Home</a>
    <a href="/">About</a>
    <a href="/">Blog</a>
  </div>
  <div class="header__btn">More About Us</div>
</div>

<div class="topBanner">
  <div class="topBanner__cont container">
    <img
      src="../../assets/images/running.svg"
      alt="run"
      width="336"
      height="380"
      class="topBanner__cont__run"
    />
    <img
      src="../../assets/images/straberry.svg"
      alt="strawberry"
      width="40"
      height="48"
      class="topBanner__cont__straberry"
    />
    <img
      src="../../assets/images/weight.svg"
      alt="weight"
      width="99"
      height="124"
      class="topBanner__cont__weight"
    />
    <img
      src="../../assets/images/lemon.svg"
      alt="lemon"
      width="55"
      height="46"
      class="topBanner__cont__lemon"
    />
    <div class="topBanner__cont__left">
      <img
        src="../../assets/images/veggie.svg"
        alt="veggie"
        width="83"
        height="100"
        class="topBanner__cont__left__veggie"
      />
      <h2 class="font-primary">Nourish Body <br />Live Health</h2>
      <p>Today</p>
      <a>Get Started</a>
    </div>
    <div class="topBanner__cont__right">
      <img
        src="../../assets/images/leave.svg"
        alt="leave"
        width="63"
        height="61"
        class="topBanner__cont__right__leave"
      />
      <div class="topBanner__cont__right__text">
        <div class="topBanner__cont__right__text__top">
          <p>
            Lorem ipsum dolor sit amet, consectetur <br />
            adipiscing elit. Ut elit tellus, luctus nec <br />
            ullamcorper mattis, pulvinar dapibus leo.
          </p>
          <div class="topBanner__cont__right__text__img__group">
            <img src="../../assets/images/Ellipse 1.svg" alt="ellipse1" width="41" height="41" />
            <img
              src="../../assets/images/Ellipse 2.svg"
              alt="ellipse2"
              class="topBanner__cont__right__text__img__group__ellipse"
              width="41"
              height="41"
            />
            <img
              src="../../assets/images/Ellipse 3.svg"
              alt="ellipse3"
              class="topBanner__cont__right__text__img__group__ellipse1"
              width="41"
              height="41"
            />
            <img
              src="../../assets/images/Ellipse 4.svg"
              alt="ellipse4"
              class="topBanner__cont__right__text__img__group__ellipse2"
              width="41"
              height="41"
            />
            <p class="font-primary">150+  <br />Satisfied Clients</p>
          </div>
        </div>
        <img
          src="../../assets/images/egg.svg"
          alt="egg"
          width="136"
          height="87"
          class="topBanner__cont__right__text__egg"
        />
        <div class="topBanner__cont__right__text__quote">
          <img
            src="../../assets/images/quote.svg"
            alt="quote"
            width="73"
            height="84"
            class="topBanner__cont__right__text__quote__leftquote"
          />
          <p>
            試過不同減肥方法導致甩頭
            <br />髮，平台期，瘦胸不瘦人，<br />皮膚問題，捱肚餓堅持唔<br />到？
          </p>
        </div>
      </div>
      <img src="../../assets/images/banner.png" alt="banner" class="topBanner__cont__right__img" />
    </div>
  </div>
</div>
