<div class="app-container profile-screen">
  <app-app-header />
  <div class="profile-screen__body">
    <h1 class="profile-screen__body__title">User Profile</h1>
    <form class="profile-screen__body__form" [formGroup]="ProfileForm">
      <div class="profile-screen__body__form__img">
        <img
          src="{{ profileImage }}"
          alt="User Image"
          width="180"
          height="180"
          *ngIf="profileImage !== ''"
        />
        <div class="profile-screen__body__form__img__placeholder" *ngIf="profileImage === ''"></div>
        <div class="profile-screen__body__form__img__upload">
          <input
            type="file"
            id="upload"
            hidden
            accept="image/png, image/jpeg"
            (change)="handleFileInput('user_image', $event)"
          />
          <label for="upload">Upload Photo</label>
        </div>
      </div>
      <div class="profile-screen__body__form__body">
        <div class="profile-screen__body__form__body__row">
          <div class="profile-screen__body__form__body__input">
            <label for="first_name">First Name:</label>
            <input type="text" formControlName="first_name" value="Ravi" />
          </div>
          <div class="profile-screen__body__form__body__input">
            <label for="last_name">Last Name:</label>
            <input type="text" formControlName="last_name" value="Patel" />
          </div>
        </div>
        <div class="profile-screen__body__form__body__row">
          <div class="profile-screen__body__form__body__input">
            <label for="dob">Birthday:</label>
            <input type="date" formControlName="birth_date" value="16-11-1992" min="1964-01-01" />
          </div>
          <div class="profile-screen__body__form__body__input">
            <label for="gender">Gender:</label>
            <select formControlName="gender">
              <option value="1">Male</option>
              <option value="2">Female</option>
            </select>
          </div>
        </div>
        <div class="profile-screen__body__form__body__row">
          <div class="profile-screen__body__form__body__input">
            <label for="fat_mass">Weight (kg):</label>
            <input
              type="number"
              formControlName="weight"
              (input)="calculateBodyMass()"
              maxlength="3"
            />
          </div>
          <div class="profile-screen__body__form__body__input">
            <label for="fat_mass">Height (cm):</label>
            <input type="number" formControlName="height" maxlength="3" />
          </div>
        </div>
        <div class="profile-screen__body__form__body__row">
          <div class="profile-screen__body__form__body__input">
            <label for="body_fat">Body Fat(%):</label>
            <input type="number" formControlName="body_fat" (input)="calculateBodyMass()" />
          </div>
          <div class="profile-screen__body__form__body__input">
            <label for="fat_mass">Fat Mass(kg):</label>
            <input
              type="number"
              formControlName="body_mass"
              readonly
              value="{{ calculatedBodyMass }}"
            />
          </div>
        </div>
        <div class="profile-screen__body__form__body__input">
          <label for="waist">Waist (cm):</label>
          <input type="number" formControlName="waist" value="30" />
          <small class="profile-screen__body__form__body__input__info"
            >Decimal data should not allowed</small
          >
        </div>
        <div class="profile-screen__body__form__body__input">
          <label for="hips">Hips (cm):</label>
          <input type="number" formControlName="hips" value="Patel" />
          <small class="profile-screen__body__form__body__input__info"
            >Decimal data should not allowed</small
          >
        </div>
        <div class="profile-screen__body__form__body__input">
          <label for="Activity_level">Activity Level:</label>
          <select formControlName="activity_level">
            <option value="1">Sedentary - Little or no exercise</option>
            <option value="2">Light Active - Exercise 1-2 Days/Week</option>
            <option value="3">Moderately Active Exercise 3-5 Days/Week</option>
            <option value="4">Active - Exercise 6-7 Days/Week</option>
            <option value="5">Very Active - Hard Exercise 6-7 Days/Week</option>
          </select>
        </div>
        <div class="profile-screen__body__form__body__bmi" *ngIf="BMI > 0">
          <p><span>Your BMI</span>: {{ BMI }}</p>
          <p>Your base calorie requriement: {{ bseCalorie }} calories</p>
          <p>Your daily calorie requirement: {{ dailyCalorie }} calories</p>
        </div>
        <!-- <div class="profile-screen__body__form__body__input">
          <label for="timezone">Select timezone:</label>
          <select formControlName="">
            <option>GMT +8</option>
            <option>GMT +4</option>
            <option>GMT +2</option>
            <option>GMT -2</option>
            <option>GMT -4</option>
          </select>
        </div> -->
        <div class="profile-screen__body__form__body__row">
          <div class="profile-screen__body__form__body__input">
            <label for="sleeping">Usual Sleeping time:</label>
            <input type="time" formControlName="sleep_time" />
          </div>
          <div class="profile-screen__body__form__body__input">
            <label for="wakeup">Usual Wakeup time:</label>
            <input type="time" formControlName="wakeup_time" />
          </div>
        </div>
        <div class="profile-screen__body__form__body__input">
          <label for="sleep_quality">Sleep Quality:</label>
          <select formControlName="sleep_quality">
            <option value="1">Easy to wakeup from light sleep</option>
            <option value="2">Good sleep quality</option>
            <option value="3">Sleep quality is good but difficult to fall sleep</option>
            <option value="4">Light sleep</option>
          </select>
        </div>
        <div
          class="profile-screen__body__form__body__input"
          *ngIf="ProfileForm.value.gender === '2'"
        >
          <label for="sleep_quality"
            >Do you have your discoumfort before and after menstrual.Or the condition of the skin
            has deteriorated significantly?</label
          >
          <select formControlName="meanstation_cycle">
            <option value="true">Yes</option>
            <option value="false">No</option>
          </select>
        </div>
        <div class="profile-screen__body__form__body__input">
          <label for="illnesses">List all long-term illnesses here :</label>
          <textarea rows="3" formControlName="family_history">Sugar</textarea>
        </div>
        <div class="profile-screen__body__form__body__input">
          <label for="medicines">Taking regular medicines? If yes, list here :</label>
          <textarea rows="3" formControlName="regular_medicine">Paracetamol</textarea>
        </div>
        <div class="profile-screen__body__form__body__input">
          <label for="allergies">List food allergies, if any:</label>
          <textarea rows="3" formControlName="food_allergy">Lorem ipsum</textarea>
        </div>
        <div class="profile-screen__body__form__body__input">
          <label for="food_preference">Food Preference:</label>
          <div class="profile-screen__body__form__body__input__checkbox">
            <label class="customCheckbox" *ngFor="let option of options">
              <input
                type="checkbox"
                [value]="option.value"
                [checked]="isSelected(option.value)"
                (change)="toggleOption(option.value)"
              />
              <span class="checkmark"></span>
              {{ option.label }}
            </label>
          </div>
        </div>
        <div class="profile-screen__body__form__body__input">
          <label for="bowel_movement">How often you have bowel movement?</label>
          <select formControlName="bowl_movememnt_trend">
            <option value="1">Several times a day</option>
            <option value="2">Once a day</option>
            <option value="3">Every other day</option>
            <option value="4">Less than 3 times a week</option>
          </select>
        </div>
        <div class="profile-screen__body__form__body__input">
          <label for="bowel_movement">Usual stool pattern:</label>
          <select formControlName="normal_stool_form">
            <option value="1">Normal banana shape</option>
            <option value="2">Hard and fine-grained</option>
            <option value="3">Pulpy watery</option>
          </select>
        </div>
        <div class="profile-screen__body__form__body__input">
          <label for="bowel_movement">Work stress index:</label>
          <select formControlName="work_stress_index">
            <option value="1">1 - Low</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5 - High</option>
          </select>
        </div>
        <div class="profile-screen__body__form__body__btn">
          <input
            type="button"
            value="Save"
            (click)="submitProfile()"
            class="profile-screen__body__form__body__btn__submit"
          />
        </div>
      </div>
    </form>
  </div>
  <app-app-footer />
</div>
