<div class="forgot-password">
  <div class="forgot-password__cont appcontainer">
    <div class="forgot-password__cont__top">
      <img src="../../../../assets/images/logo1.png" width="140" height="102" />
      <p *ngIf="currentStep === 1">Forgot Password</p>
      <p *ngIf="currentStep === 2">Verification</p>
      <p *ngIf="currentStep === 3">New Password</p>
    </div>
    <form class="forgot-password__cont__form" action="" *ngIf="currentStep === 1">
      <div
        [ngClass]="{
          input: true,
          input___error: false
        }"
      >
        <input type="email" placeholder="example@gmail.com" formControlName="email" />
        <p>Back to sign in</p>
        <p class="input__errorMsg">Password is required.</p>
      </div>
      <input type="button" value="Send Code" class="primaryBtn" />
      <!-- <div class="forgot-password__cont__form__forgot">
        <a href="">Forgot your password?</a>
        <input type="button" value="Login" class="primaryBtn" />
      </div> -->
      <p>Do you have an account?</p>
      <a class="secondaryBtn">Sign Up</a>
    </form>

    <!-- <div class="forgot-password__cont__top">
      <img src="../../../../assets/images/logo1.png" width="140" height="102" />
      <p>Verification</p>
    </div> -->
    <form class="forgot-password__cont__form" action="" *ngIf="currentStep === 2">
      <!-- <div
        [ngClass]="{
          input: true,
          input___error: false
        }"
      >
        <select placeholder="Select Gender" formControlName="gender">
          <option value="0">Select Country Code</option>
          <option value="1">男性</option>
          <option value="2">女性</option>
        </select>
        <p class="input__errorMsg">Country Code is required.</p>
      </div> -->
      <!-- <div
        [ngClass]="{
          input: true,
          input___error: true
        }"
      >
        <input type="email" placeholder="example@gmail.com" id="email" formControlName="email" />
        <p class="input__info">Type after +91</p>
        <p class="input__errorMsg">Back to sign in</p>
      </div> -->
      <div
        [ngClass]="{
          input: true,
          input___error: false
        }"
      >
        <input type="number" placeholder="Enter Verification Code" formControlName="number" />
        <p>If you didn't receive a code; <span>Resend</span></p>
        <p class="input__errorMsg">Password is required.</p>
      </div>
      <input type="button" value="Verify" class="primaryBtn" />
      <!-- <div class="forgot-password__cont__form__forgot">
        <a href="">Forgot your password?</a>
        <input type="button" value="Login" class="primaryBtn" />
      </div> -->
      <p>Do you have an account?</p>
      <a class="secondaryBtn">Sign Up</a>
    </form>

    <!-- ||||||||| 
          Form Step - 3
         ||||||||| -->

    <!-- <div class="forgot-password__cont__top">
      <img src="../../../../assets/images/logo1.png" width="140" height="102" />
      <p>New Password</p>
    </div> -->
    <form class="forgot-password__cont__form" action="" *ngIf="currentStep === 3">
      <!-- <div
        [ngClass]="{
          input: true,
          input___error: false
        }"
      >
        <select placeholder="Select Gender" formControlName="gender">
          <option value="0">Select Country Code</option>
          <option value="1">男性</option>
          <option value="2">女性</option>
        </select>
        <p class="input__errorMsg">Country Code is required.</p>
      </div> -->
      <!-- <div
        [ngClass]="{
          input: true,
          input___error: true
        }"
      >
        <input type="email" placeholder="example@gmail.com" id="email" formControlName="email" />
        <p class="input__info">Type after +91</p>
        <p class="input__errorMsg">Back to sign in</p>
      </div> -->
      <div
        [ngClass]="{
          input: true,
          input___error: false
        }"
      >
        <input type="password" placeholder="Enter New Password" formControlName="password" />
        <p>At least 8 digits</p>
        <p class="input__errorMsg">Password is required.</p>
      </div>
      <div
        [ngClass]="{
          input: true,
          input___error: false
        }"
      >
        <input type="password" placeholder="Confirm Password" formControlName="password" />
        <!-- <p>At least 8 digits</p>
        <p class="input__errorMsg">Password is required.</p> -->
      </div>
      <input type="button" value="Done" class="primaryBtn" />
      <!-- <div class="forgot-password__cont__form__forgot">
        <a href="">Forgot your password?</a>
        <input type="button" value="Login" class="primaryBtn" />
      </div> -->
      <!-- <p>Do you have an account?</p>
      <a class="secondaryBtn">Sign Up</a> -->
    </form>
  </div>
</div>
