.forgot-password {
  background-image: url('../../../../assets/images/application.png');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
  &__cont {
    display: grid;
    height: 100%;
    overflow-y: auto;
    align-content: flex-start;
    gap: 24px;
    padding: 24px 32px;
    padding-top: 80px;
    &__top {
      display: grid;
      justify-content: center;
      justify-items: center;
      gap: 24px;
      p {
        color: rgba(10, 186, 181, 0.8);
        font-size: 22px;
        font-weight: 400;
        text-align: center;
      }
    }
    &__form {
      display: grid;
      gap: 24px;
      &__forgot {
        display: grid;
        gap: 16px;
        justify-items: flex-end;
        a {
          color: var(--color-black);
          font-size: 14px;
          text-decoration-line: underline;
        }
      }
    }
  }
}
