<div class="forgot-password">
  <div class="forgot-password__cont appcontainer">
    <div class="forgot-password__cont__top">
      <img src="../../../../assets/images/logo1.png" width="140" height="102" />
      <p>Forgot Password</p>
    </div>
    <form class="forgot-password__cont__form" class="step-1" action="">
      <div
        [ngClass]="{
          input: true,
          input___error: false
        }"
      >
        <select placeholder="Select Gender" formControlName="gender">
          <option value="0">Select Country Code</option>
          <option value="1">男性</option>
          <option value="2">女性</option>
        </select>
        <p class="input__errorMsg">Country Code is required.</p>
      </div>
      <div
        [ngClass]="{
          input: true,
          input___error: true
        }"
      >
        <input
          type="text"
          placeholder="85558555"
          id="phone_number"
          formControlName="phone_number"
        />
        <p class="input__info">Type after +91</p>
        <p class="input__errorMsg">Mobile number is required.</p>
      </div>
      <div
        [ngClass]="{
          input: true,
          input___error: false
        }"
      >
        <input type="text" placeholder="Enter Password" formControlName="password" />
        <p class="input__info">At least 8 digits</p>
        <p class="input__errorMsg">Password is required.</p>
      </div>
      <div class="forgot-password__cont__form__forgot">
        <a href="">Forgot your password?</a>
        <input type="button" value="Login" class="primaryBtn" />
      </div>
      <a class="secondaryBtn">Register</a>
    </form>

    <!-- ||||||||| 
          Form Step - 2
         ||||||||| -->

    <div class="forgot-password__cont__top">
      <img src="../../../../assets/images/logo1.png" width="140" height="102" />
      <p>Verification</p>
    </div>
    <form class="forgot-password__cont__form" class="step-2" action="">
      <div
        [ngClass]="{
          input: true,
          input___error: false
        }"
      >
        <select placeholder="Select Gender" formControlName="gender">
          <option value="0">Select Country Code</option>
          <option value="1">男性</option>
          <option value="2">女性</option>
        </select>
        <p class="input__errorMsg">Country Code is required.</p>
      </div>
      <div
        [ngClass]="{
          input: true,
          input___error: true
        }"
      >
        <input
          type="text"
          placeholder="85558555"
          id="phone_number"
          formControlName="phone_number"
        />
        <p class="input__info">Type after +91</p>
        <p class="input__errorMsg">Mobile number is required.</p>
      </div>
      <div
        [ngClass]="{
          input: true,
          input___error: false
        }"
      >
        <input type="text" placeholder="Enter Password" formControlName="password" />
        <p class="input__info">At least 8 digits</p>
        <p class="input__errorMsg">Password is required.</p>
      </div>
      <div class="forgot-password__cont__form__forgot">
        <a href="">Forgot your password?</a>
        <input type="button" value="Login" class="primaryBtn" />
      </div>
      <a class="secondaryBtn">Register</a>
    </form>

    <!-- ||||||||| 
          Form Step - 3
         ||||||||| -->

    <div class="forgot-password__cont__top">
      <img src="../../../../assets/images/logo1.png" width="140" height="102" />
      <p>New Password</p>
    </div>
    <form class="forgot-password__cont__form" class="step-3" action="">
      <div
        [ngClass]="{
          input: true,
          input___error: false
        }"
      >
        <select placeholder="Select Gender" formControlName="gender">
          <option value="0">Select Country Code</option>
          <option value="1">男性</option>
          <option value="2">女性</option>
        </select>
        <p class="input__errorMsg">Country Code is required.</p>
      </div>
      <div
        [ngClass]="{
          input: true,
          input___error: true
        }"
      >
        <input
          type="text"
          placeholder="85558555"
          id="phone_number"
          formControlName="phone_number"
        />
        <p class="input__info">Type after +91</p>
        <p class="input__errorMsg">Mobile number is required.</p>
      </div>
      <div
        [ngClass]="{
          input: true,
          input___error: false
        }"
      >
        <input type="text" placeholder="Enter Password" formControlName="password" />
        <p class="input__info">At least 8 digits</p>
        <p class="input__errorMsg">Password is required.</p>
      </div>
      <div class="forgot-password__cont__form__forgot">
        <a href="">Forgot your password?</a>
        <input type="button" value="Login" class="primaryBtn" />
      </div>
      <a class="secondaryBtn">Register</a>
    </form>
  </div>
</div>
