<div class="forgot-password">
  <div class="forgot-password__cont appcontainer">
    <div class="forgot-password__cont__top">
      <img src="../../../../assets/images/logo1.png" width="140" height="102" />
      <p>Forgot Password</p>
    </div>
    <div class="forgot-password__cont__mid">
      <div class="forgot-password__cont__mid__top">
        <div>
          <input type="text" placeholder="example@gmail.com" id="email" formControlName="email" />
          <p>Back to sign in</p>
        </div>
        <div class="forgot-password__cont__mid__top__btn">Send Code</div>
      </div>
      <div class="forgot-password__cont__mid__bottom">
        <p>Do you have an account?</p>
        <div class="forgot-password__cont__mid__bottom__btn">Sign Up</div>
      </div>
    </div>
  </div>
</div>
