.home-screen {
  display: grid;
  gap: 12px;
}
.today-mission {
  padding-inline: 16px;
  display: grid;
  gap: 4px;
  h3 {
    color: #616161;
    font-size: 18px;
  }
  &__row {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    &__date {
      display: grid;
      grid-auto-flow: column;
      align-items: center;
      gap: 8px;
      p {
        font-size: 12px;
        color: #616161;
      }
    }
    &__btn {
      border-radius: 4px;
      background: var(--Secondary, #79e0e8);
      font-size: 12px;
      color: #fff;
      padding: 8px 16px;
    }
  }
}
.meal-summary {
  padding: 16px;
  display: grid;
  gap: 12px;
  h2 {
    text-align: center;
  }

  &__table {
    border: 1px solid #7d7d7d;
    display: grid;
    grid-auto-flow: column;
    padding: 12px 4px;
    border-radius: 16px;
    p {
      color: #616161;
      font-size: 10px;
      text-align: center;
      padding-block: 2px;
    }
    &__col {
      border-right: 1px solid #7d7d7d;
      padding: 0 4px;
      &:first-child {
        p {
          text-align: left;
        }
      }
      &:last-child {
        border-right: none;
      }
    }
  }
}
.supplement {
  padding-inline: 16px;
  display: grid;
  gap: 24px;
  h2 {
    color: #616161;
    font-size: 18px;
    font-weight: 500;
  }

  &__cont {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 12px;
    justify-content: center;
    justify-items: center;
    &__box {
      display: grid;
      gap: 4px;
      input {
        width: 100%;
        border-radius: 4px;
        background: #d9d9d9;
        font-size: 10px;
        height: 18px;
        padding: 4px;
        color: #616161;
        text-align: center;
      }

      img {
        width: 100%;
        height: auto;
      }
      &.supplement__cont__box___disabled {
        filter: grayscale(1);
        pointer-events: none;
      }
    }
  }
}
.tutor-message {
  margin-inline: 16px;
  border-radius: 8px;
  background: rgba(255, 226, 122, 0.2);
  padding: 12px;
  display: grid;
  gap: 4px;
  p {
    color: #000;
    font-size: 12px;
    line-height: 150%;
  }
  &__row {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
    h3 {
      color: #000;
      font-size: 16px;
      font-weight: 500;
    }
  }
}
.personal-profile {
  margin-inline: 16px;
  border-radius: 10px;
  border: 1px solid #79e0e8;
  background: #fff;
  &__header {
    width: 100%;
    height: 64px;
    border-radius: 10px;
    background: #f1f4ff;
    display: grid;
    align-items: center;
    padding-inline: 16px;
    color: #626262;
    font-size: 18px;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid #6b6f80;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 8px;
    }
  }
  &__body {
    padding-inline: 16px;
    padding-bottom: 20px;
    &__period {
      display: grid;
      grid-auto-flow: column;
      justify-content: flex-end;
      align-items: center;
      gap: 12px;
    }
    form {
      display: grid;
      gap: 12px;
    }
  }
  &___show {
    .personal-profile__header {
      background-color: transparent;
      &:after {
        transform: rotate(180deg);
        margin-top: -4px;
      }
    }
  }
}
.meal-management {
  margin-inline: 16px;
  border-radius: 10px;
  border: 1px solid #79e0e8;
  background: #fff;
  &__header {
    width: 100%;
    height: 64px;
    border-radius: 10px;
    background: #f1f4ff;
    display: grid;
    align-items: center;
    padding-inline: 16px;
    color: #626262;
    font-size: 18px;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid #6b6f80;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 8px;
    }
  }
  &__body {
    padding-inline: 16px;
    padding-bottom: 20px;
    display: grid;
    gap: 12px;
    &__btn {
      border-radius: 10px;
      border: 1px solid #79e0e8;
      background: #f1f4ff;
      height: 50px;
      display: grid;
      place-content: center;
      place-items: center;
      color: #484848;
      font-size: 18px;
    }
  }
  &___show {
    .meal-management__header {
      background-color: transparent;
      &:after {
        transform: rotate(180deg);
        margin-top: -4px;
      }
    }
  }
}
.meal-popup {
  position: fixed;
  inset: 0 0 0 0;
  background-color: #fff;
  display: grid;
  gap: 16px;
  align-content: flex-start;
  overflow-y: auto;
  padding-bottom: 24px;
  &__header {
    background-color: #79e0e8;
    position: sticky;
    top: 0;
    padding-inline: 16px;
    height: 48px;
    display: grid;
    place-content: center;
    place-items: center;
    z-index: 1;
    &__back {
      position: absolute;
      left: 16px;
      top: 50%;
      transform: translateY(-50%);
      display: grid;
    }
    &__title {
      text-align: center;
      font-size: 18px;
      font-weight: 600;
      color: #fff;
    }
  }
  &__form {
    display: grid;
    gap: 12px;
    grid-auto-flow: row;
    padding-inline: 16px;
    & > div {
      padding-inline: 0;
    }
    &__time {
      &__btn {
        padding: 4px 12px;
        border-radius: 4px;
        background: #64d1dc;
        color: #fff;
        font-size: 12px;
        line-height: 24px; /* 200% */
        letter-spacing: -0.25px;
      }
    }
    &__row {
      display: grid;
      gap: 8px;
      align-content: flex-start;
      align-items: flex-start;
      // grid-auto-flow: column;
      grid-template-columns: 1fr auto;
      // padding-inline: 16px;
      &__left {
        display: grid;
        gap: 12px;
      }
      &__right {
        display: grid;
        gap: 4px;
        &__input {
          display: grid;
          gap: 4px;
          grid-auto-flow: column;
          label {
            color: #141519;
            font-size: 16px;
            font-weight: 600;
            line-height: 150%;
            letter-spacing: -0.25px;
          }
          input {
            width: 48px;
            height: 24px;
            text-align: center;
            padding: 2px;
            color: #6b6f80;
            text-align: center;
            font-size: 16px;
            line-height: 150%;
            letter-spacing: -0.25px;
            border-radius: 4px;
            background: #efefef;
          }
        }
      }
    }
  }
}
