<div class="app-container home-screen">
  <app-app-header />
  <!-- <app-image-upload /> -->
  <div class="today-mission">
    <h3>Today's Mission</h3>
    <div class="today-mission__row">
      <div class="today-mission__row__date">
        <img src="../../../../assets/images/time.svg" alt="time" width="20" height="20" />
        <p>2023-09-28 (GMT+8)</p>
      </div>
      <a class="today-mission__row__btn">Goto previous Date</a>
    </div>
  </div>
  <div class="meal-summary">
    <h2>Ravi Patel</h2>
    <div class="meal-summary__table">
      <div class="meal-summary__table__col">
        <p>&nbsp;</p>
        <p>Goal:</p>
        <p>Current:</p>
        <p>Remaining:</p>
      </div>
      <div class="meal-summary__table__col">
        <p>Main 🍚</p>
        <p>6</p>
        <p>2</p>
        <p>4</p>
      </div>
      <div class="meal-summary__table__col">
        <p>Meat 🥩</p>
        <p>6</p>
        <p>2</p>
        <p>4</p>
      </div>
      <div class="meal-summary__table__col">
        <p>Veggie 🥦</p>
        <p>6</p>
        <p>2</p>
        <p>4</p>
      </div>
      <div class="meal-summary__table__col">
        <p>Fruit🍓</p>
        <p>6</p>
        <p>2</p>
        <p>4</p>
      </div>
      <div class="meal-summary__table__col">
        <p>Water 💧</p>
        <p>6000</p>
        <p>2000</p>
        <p>4000</p>
      </div>
    </div>
  </div>
  <div class="supplement">
    <h2>Supplements</h2>
    <div class="supplement__cont">
      <div class="supplement__cont__box supplement__cont__box___disabled">
        <img
          src="../../../../assets/images/suppliment.svg"
          width="54"
          height="17"
          alt="supplement"
        />
        <input type="text" />
      </div>
      <div class="supplement__cont__box">
        <img
          src="../../../../assets/images/suppliment.svg"
          width="54"
          height="17"
          alt="supplement"
        />
        <input type="text" />
      </div>
      <div class="supplement__cont__box">
        <img
          src="../../../../assets/images/suppliment.svg"
          width="54"
          height="17"
          alt="supplement"
        />
        <input type="text" />
      </div>
      <div class="supplement__cont__box">
        <img
          src="../../../../assets/images/suppliment.svg"
          width="54"
          height="17"
          alt="supplement"
        />
        <input type="text" />
      </div>
      <div class="supplement__cont__box">
        <img
          src="../../../../assets/images/suppliment.svg"
          width="54"
          height="17"
          alt="supplement"
        />
        <input type="text" />
      </div>
      <div class="supplement__cont__box">
        <img
          src="../../../../assets/images/suppliment.svg"
          width="54"
          height="17"
          alt="supplement"
        />
        <input type="text" />
      </div>
      <div class="supplement__cont__box">
        <img
          src="../../../../assets/images/suppliment.svg"
          width="54"
          height="17"
          alt="supplement"
        />
        <input type="text" />
      </div>
      <div class="supplement__cont__box supplement__cont__box___disabled">
        <img
          src="../../../../assets/images/suppliment.svg"
          width="54"
          height="17"
          alt="supplement"
        />
        <input type="text" />
      </div>
      <div class="supplement__cont__box supplement__cont__box___disabled">
        <img
          src="../../../../assets/images/suppliment.svg"
          width="54"
          height="17"
          alt="supplement"
        />
        <input type="text" />
      </div>
      <div class="supplement__cont__box">
        <img
          src="../../../../assets/images/suppliment.svg"
          width="54"
          height="17"
          alt="supplement"
        />
        <input type="text" />
      </div>
      <div class="supplement__cont__box supplement__cont__box___disabled">
        <img
          src="../../../../assets/images/suppliment.svg"
          width="54"
          height="17"
          alt="supplement"
        />
        <input type="text" />
      </div>
      <div class="supplement__cont__box">
        <img
          src="../../../../assets/images/suppliment.svg"
          width="54"
          height="17"
          alt="supplement"
        />
        <input type="text" />
      </div>
      <div class="supplement__cont__box">
        <img
          src="../../../../assets/images/suppliment.svg"
          width="54"
          height="17"
          alt="supplement"
        />
        <input type="text" />
      </div>
      <div class="supplement__cont__box">
        <img
          src="../../../../assets/images/suppliment.svg"
          width="54"
          height="17"
          alt="supplement"
        />
        <input type="text" />
      </div>
      <div class="supplement__cont__box">
        <img
          src="../../../../assets/images/suppliment.svg"
          width="54"
          height="17"
          alt="supplement"
        />
        <input type="text" />
      </div>
      <div class="supplement__cont__box">
        <img
          src="../../../../assets/images/suppliment.svg"
          width="54"
          height="17"
          alt="supplement"
        />
        <input type="text" />
      </div>
      <div class="supplement__cont__box">
        <img
          src="../../../../assets/images/suppliment.svg"
          width="54"
          height="17"
          alt="supplement"
        />
        <input type="text" />
      </div>
      <div class="supplement__cont__box supplement__cont__box___disabled">
        <img
          src="../../../../assets/images/suppliment.svg"
          width="54"
          height="17"
          alt="supplement"
        />
        <input type="text" />
      </div>
      <div class="supplement__cont__box supplement__cont__box___disabled">
        <img
          src="../../../../assets/images/suppliment.svg"
          width="54"
          height="17"
          alt="supplement"
        />
        <input type="text" />
      </div>
      <div class="supplement__cont__box">
        <img
          src="../../../../assets/images/suppliment.svg"
          width="54"
          height="17"
          alt="supplement"
        />
        <input type="text" />
      </div>
    </div>
  </div>
  <div class="tutor-message">
    <div class="tutor-message__row">
      <h3>Massage form the Tutor:</h3>
      <svg
        width="16"
        height="17"
        viewBox="0 0 16 17"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M7.99967 2.00757C4.33301 2.00757 1.33301 5.00757 1.33301 8.67423C1.33301 12.3409 4.33301 15.3409 7.99967 15.3409C11.6663 15.3409 14.6663 12.3409 14.6663 8.67423C14.6663 5.00757 11.6663 2.00757 7.99967 2.00757ZM6.66634 12.0076L3.33301 8.67423L4.27301 7.73423L6.66634 10.1209L11.7263 5.0609L12.6663 6.00757L6.66634 12.0076Z"
          fill="#00B112"
        />
      </svg>
    </div>
    <p>
      Keep exercise at least 2 hour a day. Keep exercise at least 2 hour a day. Keep exercise at
      least 2 hour a day.
    </p>
  </div>
  <div [ngClass]="{ 'personal-profile': true, 'personal-profile___show': showPersonal }">
    <div class="personal-profile__header" (click)="personalClick()">Personal Profile</div>
    <div class="personal-profile__body" *ngIf="showPersonal">
      <form action="">
        <div class="personal-profile__body__period">
          <p>Period</p>
          <label class="switch">
            <input type="checkbox" />
            <span class="slider round"></span>
          </label>
        </div>
        <div
          [ngClass]="{
            input: true
          }"
        >
          <label>Weight (kg)</label>
          <input type="text" />
          <!-- <p class="input__errorMsg" >請輸入資料</p> -->
        </div>
        <div class="grid grid___same gap___df">
          <div class="input">
            <label>Body Fat (%) </label>
            <input type="text" />
            <!-- <p class="input__errorMsg" >請輸入資料</p> -->
          </div>
          <div class="input">
            <label>Body Mass (kg)</label>
            <input type="text" />
            <!-- <p class="input__errorMsg" >請輸入資料</p> -->
          </div>
        </div>
        <app-image-upload
          [uploadedFiles]="uploadedFiles"
          (deleteLastFile)="deleteLastFile($event)"
          (fileSelected)="fileChangeEvent($event)"
          [index]="0"
        />
        <app-image-upload
          [uploadedFiles]="uploadedFiles"
          (deleteLastFile)="deleteLastFile($event)"
          (fileSelected)="fileChangeEvent($event)"
          [index]="1"
        />
        <app-image-upload
          [uploadedFiles]="uploadedFiles"
          (deleteLastFile)="deleteLastFile($event)"
          (fileSelected)="fileChangeEvent($event)"
          [index]="2"
        />
        <!-- <div class="fileUpload">
          <div class="upload-btn-wrapper">
            <button class="btn">
              <svg
                width="30"
                height="30"
                viewBox="0 0 30 30"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M13.75 20V9.8125L10.5 13.0625L8.75 11.25L15 5L21.25 11.25L19.5 13.0625L16.25 9.8125V20H13.75ZM7.5 25C6.8125 25 6.22375 24.755 5.73375 24.265C5.24375 23.775 4.99917 23.1867 5 22.5V18.75H7.5V22.5H22.5V18.75H25V22.5C25 23.1875 24.755 23.7763 24.265 24.2663C23.775 24.7563 23.1867 25.0008 22.5 25H7.5Z"
                  fill="#79E0E8"
                />
              </svg>
              <p>Upload Back Profile Photo</p>
            </button>
            <input type="file" name="myfile" />
          </div>
          <a class="fileUpload__delete">Delete</a>
        </div>
        <div class="fileUpload">
          <div class="upload-btn-wrapper">
            <button class="btn">
              <svg
                width="30"
                height="30"
                viewBox="0 0 30 30"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M13.75 20V9.8125L10.5 13.0625L8.75 11.25L15 5L21.25 11.25L19.5 13.0625L16.25 9.8125V20H13.75ZM7.5 25C6.8125 25 6.22375 24.755 5.73375 24.265C5.24375 23.775 4.99917 23.1867 5 22.5V18.75H7.5V22.5H22.5V18.75H25V22.5C25 23.1875 24.755 23.7763 24.265 24.2663C23.775 24.7563 23.1867 25.0008 22.5 25H7.5Z"
                  fill="#79E0E8"
                />
              </svg>
              <p>Upload Side Profile Photo</p>
            </button>
            <input type="file" name="myfile" />
          </div>
          <a class="fileUpload__delete">Delete</a>
        </div> -->
        <input
          type="button"
          value="Submit Daily Profile"
          class="primaryBtn primaryBtn__smallHeight"
        />
      </form>
    </div>
  </div>
  <div [ngClass]="{ 'meal-management': true, 'meal-management___show': showMeal }">
    <div class="meal-management__header" (click)="mealClick()">Meal Management</div>
    <div class="meal-management__body" *ngIf="showMeal">
      <div class="meal-management__body__btn" (click)="showMealFormClick('Breakfast')">
        + Add Breakfast
      </div>
      <div class="meal-management__body__btn" (click)="showMealFormClick('Lunch')">+ Add Lunch</div>
      <div class="meal-management__body__btn" (click)="showMealFormClick('Dinner')">
        + Add Dinner
      </div>
      <div class="meal-management__body__btn" (click)="showMealFormClick('Snacks')">
        + Add Snacks
      </div>
    </div>
  </div>
  <app-app-footer />
  <div class="app-container meal-popup" *ngIf="showMealForm">
    <div class="meal-popup__header">
      <a class="meal-popup__header__back" (click)="hideMeal()"
        ><svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M11 6L5 12M5 12L11 18M5 12L19 12"
            stroke="white"
            stroke-width="2"
            stroke-linecap="round"
          />
        </svg>
      </a>
      <p class="meal-popup__header__title">+ Add {{ mealType }}</p>
    </div>
    <form class="meal-popup__form">
      <div class="meal-popup__form__time grid grid___space-between">
        <p>Select Time:</p>
        <a class="meal-popup__form__time__btn"> 05:18 (GMT+8)</a>
      </div>
      <div class="meal-popup__form__row">
        <div class="meal-popup__form__row__left">
          <div class="fileUpload">
            <div class="upload-btn-wrapper">
              <button class="btn">
                <svg
                  width="30"
                  height="30"
                  viewBox="0 0 30 30"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M13.75 20V9.8125L10.5 13.0625L8.75 11.25L15 5L21.25 11.25L19.5 13.0625L16.25 9.8125V20H13.75ZM7.5 25C6.8125 25 6.22375 24.755 5.73375 24.265C5.24375 23.775 4.99917 23.1867 5 22.5V18.75H7.5V22.5H22.5V18.75H25V22.5C25 23.1875 24.755 23.7763 24.265 24.2663C23.775 24.7563 23.1867 25.0008 22.5 25H7.5Z"
                    fill="#79E0E8"
                  />
                </svg>
                <p>Upload Front Profile Photo</p>
              </button>
              <input type="file" name="myfile" />
            </div>
            <a class="fileUpload__delete">Delete</a>
          </div>
          <div class="fileUpload">
            <div class="upload-btn-wrapper">
              <button class="btn">
                <svg
                  width="30"
                  height="30"
                  viewBox="0 0 30 30"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M13.75 20V9.8125L10.5 13.0625L8.75 11.25L15 5L21.25 11.25L19.5 13.0625L16.25 9.8125V20H13.75ZM7.5 25C6.8125 25 6.22375 24.755 5.73375 24.265C5.24375 23.775 4.99917 23.1867 5 22.5V18.75H7.5V22.5H22.5V18.75H25V22.5C25 23.1875 24.755 23.7763 24.265 24.2663C23.775 24.7563 23.1867 25.0008 22.5 25H7.5Z"
                    fill="#79E0E8"
                  />
                </svg>
                <p>Upload Front Profile Photo</p>
              </button>
              <input type="file" name="myfile" />
            </div>
            <a class="fileUpload__delete">Delete</a>
          </div>
          <div class="fileUpload">
            <div class="upload-btn-wrapper">
              <button class="btn">
                <svg
                  width="30"
                  height="30"
                  viewBox="0 0 30 30"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M13.75 20V9.8125L10.5 13.0625L8.75 11.25L15 5L21.25 11.25L19.5 13.0625L16.25 9.8125V20H13.75ZM7.5 25C6.8125 25 6.22375 24.755 5.73375 24.265C5.24375 23.775 4.99917 23.1867 5 22.5V18.75H7.5V22.5H22.5V18.75H25V22.5C25 23.1875 24.755 23.7763 24.265 24.2663C23.775 24.7563 23.1867 25.0008 22.5 25H7.5Z"
                    fill="#79E0E8"
                  />
                </svg>
                <p>Upload Front Profile Photo</p>
              </button>
              <input type="file" name="myfile" />
            </div>
            <a class="fileUpload__delete">Delete</a>
          </div>
        </div>
        <div class="meal-popup__form__row__right">
          <div class="meal-popup__form__row__right__input">
            <label>主</label>
            <input type="number" />
          </div>
          <div class="meal-popup__form__row__right__input">
            <label>肉</label>
            <input type="number" />
          </div>
          <div class="meal-popup__form__row__right__input">
            <label>菜</label>
            <input type="number" />
          </div>
          <div class="meal-popup__form__row__right__input">
            <label>果</label>
            <input type="number" />
          </div>
          <div class="meal-popup__form__row__right__input">
            <label>水</label>
            <input type="number" />
          </div>
        </div>
      </div>
      <div class="supplement">
        <h2>Supplements</h2>
        <div class="supplement__cont">
          <div class="supplement__cont__box supplement__cont__box___disabled">
            <img
              src="../../../../assets/images/suppliment.svg"
              width="54"
              height="17"
              alt="supplement"
            />
            <input type="text" />
          </div>
          <div class="supplement__cont__box">
            <img
              src="../../../../assets/images/suppliment.svg"
              width="54"
              height="17"
              alt="supplement"
            />
            <input type="text" />
          </div>
          <div class="supplement__cont__box">
            <img
              src="../../../../assets/images/suppliment.svg"
              width="54"
              height="17"
              alt="supplement"
            />
            <input type="text" />
          </div>
          <div class="supplement__cont__box">
            <img
              src="../../../../assets/images/suppliment.svg"
              width="54"
              height="17"
              alt="supplement"
            />
            <input type="text" />
          </div>
          <div class="supplement__cont__box">
            <img
              src="../../../../assets/images/suppliment.svg"
              width="54"
              height="17"
              alt="supplement"
            />
            <input type="text" />
          </div>
          <div class="supplement__cont__box">
            <img
              src="../../../../assets/images/suppliment.svg"
              width="54"
              height="17"
              alt="supplement"
            />
            <input type="text" />
          </div>
          <div class="supplement__cont__box">
            <img
              src="../../../../assets/images/suppliment.svg"
              width="54"
              height="17"
              alt="supplement"
            />
            <input type="text" />
          </div>
          <div class="supplement__cont__box supplement__cont__box___disabled">
            <img
              src="../../../../assets/images/suppliment.svg"
              width="54"
              height="17"
              alt="supplement"
            />
            <input type="text" />
          </div>
          <div class="supplement__cont__box supplement__cont__box___disabled">
            <img
              src="../../../../assets/images/suppliment.svg"
              width="54"
              height="17"
              alt="supplement"
            />
            <input type="text" />
          </div>
          <div class="supplement__cont__box">
            <img
              src="../../../../assets/images/suppliment.svg"
              width="54"
              height="17"
              alt="supplement"
            />
            <input type="text" />
          </div>
          <div class="supplement__cont__box supplement__cont__box___disabled">
            <img
              src="../../../../assets/images/suppliment.svg"
              width="54"
              height="17"
              alt="supplement"
            />
            <input type="text" />
          </div>
          <div class="supplement__cont__box">
            <img
              src="../../../../assets/images/suppliment.svg"
              width="54"
              height="17"
              alt="supplement"
            />
            <input type="text" />
          </div>
          <div class="supplement__cont__box">
            <img
              src="../../../../assets/images/suppliment.svg"
              width="54"
              height="17"
              alt="supplement"
            />
            <input type="text" />
          </div>
          <div class="supplement__cont__box">
            <img
              src="../../../../assets/images/suppliment.svg"
              width="54"
              height="17"
              alt="supplement"
            />
            <input type="text" />
          </div>
          <div class="supplement__cont__box">
            <img
              src="../../../../assets/images/suppliment.svg"
              width="54"
              height="17"
              alt="supplement"
            />
            <input type="text" />
          </div>
          <div class="supplement__cont__box">
            <img
              src="../../../../assets/images/suppliment.svg"
              width="54"
              height="17"
              alt="supplement"
            />
            <input type="text" />
          </div>
          <div class="supplement__cont__box">
            <img
              src="../../../../assets/images/suppliment.svg"
              width="54"
              height="17"
              alt="supplement"
            />
            <input type="text" />
          </div>
          <div class="supplement__cont__box supplement__cont__box___disabled">
            <img
              src="../../../../assets/images/suppliment.svg"
              width="54"
              height="17"
              alt="supplement"
            />
            <input type="text" />
          </div>
          <div class="supplement__cont__box supplement__cont__box___disabled">
            <img
              src="../../../../assets/images/suppliment.svg"
              width="54"
              height="17"
              alt="supplement"
            />
            <input type="text" />
          </div>
          <div class="supplement__cont__box">
            <img
              src="../../../../assets/images/suppliment.svg"
              width="54"
              height="17"
              alt="supplement"
            />
            <input type="text" />
          </div>
        </div>
      </div>
      <input
        type="button"
        value="Submit Daily Profile"
        class="primaryBtn primaryBtn__smallHeight"
      />
    </form>
  </div>
</div>
