.status {
  background-color: #ffffff;

  &__cont {
    // width: 430px;
    // height: 926px;
    display: grid;
    grid-auto-flow: row;
    padding-block: 30px;
    padding-bottom: 100px;
    gap: 20px;

    &__icon {
      display: grid;
      grid-auto-flow: column;
      //gap: 57px;
      background-color: #79e0e8;
      //   width: 430px;
      //   height: 86px;
      align-items: flex-end;
      justify-content: space-between;
      left: 0;
      right: 0;
      //justify-content: center;
      position: fixed;
      bottom: 0;
      padding: 20px 40px;
      z-index: 1;
      //   border-radius: 0 0 50px 50px;
      &__home {
        p {
          color: #fffaca;
          font-size: 12px;
          font-weight: 700;
        }
      }
      &__calendar {
        p {
          color: #9b9b9b;
          font-size: 12px;
          font-weight: 700;
        }
      }
    }
    &__content {
      display: grid;
      //padding-inline: 31px;
      gap: 12px;
      &__logo {
        display: grid;
        // gap: 164px;
        grid-auto-flow: row;
      }
      &__mission {
        display: grid;
        gap: 64px;
        grid-auto-flow: column;
        &__cal {
          display: grid;
          gap: 12px;
          p {
            color: #616161;
            font-size: 18px;
            font-weight: 400;
          }
          &__time {
            display: grid;
            grid-auto-flow: column;
            gap: 12px;
            justify-content: flex-start;
            p {
              color: #616161;
              font-size: 12px;
              font-weight: 400;
            }
          }
        }
        &__btn {
          display: grid;
          align-items: flex-end;
          &__send {
            width: 107px;
            height: 28px;
            border-radius: 4px;
            padding: 8px 4px;
            background: #79e0e8;
            color: #fff;
            font-size: 10px;
            display: grid;
            place-content: center;
            place-items: center;
            //position: absolute;
            right: 12px;
            top: 12px;
          }
        }
      }
      &__name {
        display: grid;
        gap: 12px;
        padding-block: 16px;
        // width: 360px;
        // height: 368px;
        h5 {
          color: #616161;
          font-size: 18px;
          font-weight: 500;
          text-align: center;
        }
        &__goal {
          display: grid;
          grid-auto-flow: column;
          padding: 12px 16px;
          font-size: 12px;
          //   width: 328px;
          //   height: 116px;
          gap: 4px;
          border: 1px solid;
          border-radius: 11px;
        }
      }
      &__supp {
        display: grid;
        gap: 12px;
        padding-block: 16px;
        // width: 360px;
        // height: 368px;
        h5 {
          color: #616161;
          font-size: 16px;
          font-weight: 500;
          text-align: center;
          span {
            color: #616161;
            font-size: 12px;
            font-weight: 400;
          }
        }
        &__goal {
          display: grid;
          grid-auto-flow: column;
          padding: 12px 16px;
          // width: 328px;
          // height: 116px;
          gap: 4px;
          border: 1px solid;
          border-radius: 11px;
          //   color: #616161;
          //   font-size: 10px;
          //   font-weight: 400;
        }
      }
      &__msg {
        display: grid;
        grid-auto-flow: row;
        gap: 12px;
        background: rgba(255, 226, 122, 0.2);
        padding: 12px 13px;
        border-radius: 8px;
        &__tick {
          display: grid;
          grid-auto-flow: column;
          gap: 12px;
          justify-content: space-between;
          h5 {
            color: black;
            font-size: 12px;
            font-weight: 500;
          }
        }
        p {
          color: black;
          font-size: 10px;
          font-weight: 400;
          span {
            color: #606060;
            font-size: 10px;
            font-weight: 400;
          }
        }
      }
    }
    &__profile {
      display: grid;
      gap: 12px;
      border: 1px #79e0e8 solid;
      padding: 20px;
      border-radius: 8px;
      &__link {
        display: grid;
        a {
          text-align: start;
          color: #626262;
          font-size: 18px;
        }
      }
      &__period {
        display: grid;
        gap: 10px;
        grid-auto-flow: column;
        justify-content: space-between;
        .toggle-switch {
          position: relative;
          display: grid;
          grid-auto-flow: column;
          width: 46px;
          height: 24px;
        }

        .toggle-switch input {
          opacity: 0;
          width: 0;
          height: 0;
        }

        .slider {
          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: #ccc;
          -webkit-transition: 0.4s;
          transition: 0.4s;
        }

        .slider:before {
          position: absolute;
          content: '';
          height: 17px;
          width: 18px;
          left: 2px;
          bottom: 4px;
          background-color: white;
          -webkit-transition: 0.4s;
          transition: 0.4s;
        }

        input:checked + .slider {
          background-color: #2196f3;
        }

        input:checked + .slider:before {
          -webkit-transform: translateX(26px);
          -ms-transform: translateX(26px);
          transform: translateX(26px);
        }

        .slider.round {
          border-radius: 34px;
        }

        .slider.round:before {
          border-radius: 50%;
        }
      }
      &__weight {
        display: grid;
      }
      &__fat {
        display: grid;
        grid-auto-flow: column;
        gap: 18px;
      }
      &__upload {
        display: grid;
      }
      &__btn {
        display: grid;
        &__daily {
          width: 100%;
          height: 38px;
          border-radius: 10px;
          background: var(--color-yellow);
          display: grid;
          place-content: center;
          place-items: center;
          color: #616161;
          font-size: 14px;
        }
      }
    }
    &__meal {
      display: grid;
      gap: 12px;
      border: 1px #79e0e8 solid;
      padding: 20px;
      border-radius: 8px;
      &__link {
        display: grid;
        a {
          text-align: start;
          color: #626262;
          font-size: 18px;
          font-weight: 400;
        }
        input {
          text-align: center;
        }
      }
    }
  }
}
